body{
    background-image: url("გალაკტიონი.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    background-color: crimson;
    height: 5px;
}

p{
    font-size: xx-large;
    
}

#a1{
    font-size: large;
    color: red;
    text-decoration: none;
}

#a1:hover{
    font-size: x-large;
    transition: 50ms;
    text-decoration: underline solid blue;
    color: blue;
}

#a1:visited{
    color: blueviolet;
    text-decoration: overline solid blueviolet;
}

#a2{
    font-size: large;
    text-decoration: none;
    color: red;
}

#a2:hover{
    font-size: x-large;
    transition: 50ms;
    text-decoration: underline solid blue;
    color: blue;
}

#a2:visited{
    color: blueviolet;
    text-decoration: overline solid blueviolet;
}

#a3{
    font-size: large;
    text-decoration: solid red;
    text-decoration: none;
}

#a3:hover{
    font-size: x-large;
    transition: 50ms;
    text-decoration: underline solid blue;
    color:  blue;
}

#a3:visited{
    color: blueviolet;
    text-decoration: overline solid blueviolet;
}
