body{
    background-image: url("angel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color:rgba(194, 197, 197, 0.512);
}

p{
    color: rgba(0, 0, 0, 0.801);
    size: 20px;
}


#a1{
    font-size: large;
    color: blue;
    text-decoration: none;
}

#a1:hover{
    font-size: x-large;
    transition: 50ms;
    text-decoration: underline solid red;
    color: red;
}

#a1:visited{
    color: blueviolet;
    text-decoration: overline solid blueviolet;
}

#a2{
    font-size: large;
    text-decoration: solid red;
    text-decoration: none;
}

#a2:hover{
    font-size: x-large;
    transition: 50ms;
    text-decoration: underline solid red;
    color: red;
}

#a2:visited{
    color: blueviolet;
    text-decoration: overline solid blueviolet;
}

#a3{
    font-size: large;
    text-decoration: solid red;
    text-decoration: none;
}

#a3:hover{
    font-size: x-large;
    transition: 50ms;
    text-decoration: underline solid red;
    color: red;
}

#a3:visited{
    color: blueviolet;
    text-decoration: overline solid blueviolet;
}
