body{
    background-image: url("ნიკორწმინდა.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color:rgb(33, 119, 134)
}

h1{
    color: brown;
}

#a1{
    font-size: large;
    color: blue;
    text-decoration: none;
}

#a1:hover{
    font-size: x-large;
    transition: 50ms;
    text-decoration: underline solid red;
    color: red;
}

#a1:visited{
    color: whitesmoke;
    text-decoration: overline solid whitesmoke;
}

#a2{
    font-size: large;
    text-decoration: solid blue;
    text-decoration: none;
}

#a2:hover{
    font-size: x-large;
    transition: 50ms;
    text-decoration: underline solid red;
    color: red
}

#a2:visited{
    color: whitesmoke;
    text-decoration: overline solid whitesmoke;
}
